body{
background-color:lightgray;
background-color: white;
margin: 0px;
/* overflow: hidden; */
font-size: 100%;
}

.navbar{
  background-color:#302b47 !important;
}

.navbar-brand{
  color:white !important;
  font-size: 160%;
  font-family:tahoma;
  font-weight: bold;
}

.tm{
  color: steelblue !important;
  font-family:sans-serif;
  font-style: italic;
  }

  .nl-img{
    width: inherit;
    height: inherit;
  }

  .x{
    height: 80vh;
    max-height: 80vh;
    object-fit: contain;
  }

  .landing-covid{
    width: 86vh;
    height: 25vh;
  }
  .writeUp-head{
  color: black !important;
  font-size: 135%;
  font-family:'Lemonada', cursive;
}
.writeUp{
  color: black !important;
  font-size: 135%;
/* font-family: 'Rosario', sans-serif; */
font-family: 'Crimson Pro', serif;
}
.noteTags{
  margin-right: 5px;
  color: #302b47;
  font-weight: bold;
}

  .halo{
    background: #4683b42c !important;
  }

  .btn{
    color: white;
    background-color: steelblue;
  }
  .btn:hover{
    
    color: white;
    background-color: #5293e7;
  }

  .input{
    height: 40px;
  }

  .fa-download{
    font-size: 140%;
    color: steelblue;
  }

  .list-con{
    /* background:  red !important; */
    overflow-y: auto;
    height: 70vh;
  }

 .list-con .list-group .list-group-item:hover{
   background:  #b0c4de88 !important;
  }

  .left{
    /* height: 35vh; */
    width: 35vh;
    /* border: 1px solid red; */
  }
  .nl-wish, .const-text{
    width: 100%;
font-family: 'Rosario', sans-serif;
/* font-family: 'Crimson Pro', serif; */
  }
.covid-con{
  width: 100%;
height: 40vh;
overflow: hidden;
display: flex;
}

  .covid-imgs{
    width: initial;
    height: inherit;
            object-fit: fill;
        -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
        }

        .constraint-con, .contact-con{
          display: none;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          top: 0px;
          background-color: #302b479c;
        }

  /* .contact-con{
            display: flex !important;
  } */

  
  .close-form{
    padding: 0px 10px 5px 10px;
    border: 1px hidden;
    cursor: pointer;
  }
  .close-form:hover{
    width: auto;
    padding: 0px 10px 5px 10px;
    color: red;
    border: 1px solid dimgray;
  }
textarea{
  max-height: 30vh;
  resize: none;
}
.brand-in-modal{
  font-size: 140%;
  text-shadow: 2px 2px 3px black;
}

  .partners-con{
    background-color: white !important;
    height: 10vh;
    border: 1px solid lightgray!important;
  }
 
  @media screen and (max-width:768px){
   

  .x{
    height: 40vh;
    max-height: 40vh;
    object-fit: contain;
  }

   .left{
     display: flex;
     /* max-height: 50vh; */
     width: 100%;
     margin-bottom: 10px !important;
   }

  .nl-wish{
    width: 100%;
  }

  .covid-con{
    height: 40vh;
  }

  .covid-imgs{
    width: 100%;
  }

   .input{
     width: 50vh;
     height: 36px;
   }

   
  .list-con{
    height: 50vh;
  }
  }

   @media screen and (max-width:768px){

   .left{
     display: flex;
     flex-direction: column-reverse;
   }
  }